#high-score {
  position: absolute;
  top: 170px;
  right: 30px;
  width: 200px;
  


  /* background-color: #e5e5e5;
  border-radius: 5px;
  padding: 2px 5px 2px 5px; */
}

#current-score {
  position: absolute;
  top: 210px;
  right: 30px;
  width: 200px;
  
  /* background-color: #e5e5e5;
  border-radius: 5px;
  padding: 2px 5px 2px 5px; */
}

