.jumbotron {
  background-image: url(./martin-jernberg-nE2gf1scItI-unsplash2.jpg);
  background-size: cover;
  background-position: center;
  height: 360px;
  
}

h1, p {
  color: #333333;
  font-weight: 700;
}

h1 {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 60px;
}

#sub-title {
  position: absolute;
  top: 100px;
  right: 30px;
  font-size: 18px;
  /* background-color:  #e5e5e5;
  border-radius: 5px;
  padding: 2px 5px 2px 5px; */
}